/* регистрация шрифтов */
@font-face {
    font-family: 'Gilroy-ExtraBold';
    src: url('../fonts/Gilroy-ExtraBold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Gilroy-Light';
    src: url('../fonts/Gilroy-Light.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'PlayfairDisplay-Italic';
    src: url('../fonts/PlayfairDisplay-Italic.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'PlayfairDisplay';
    src: url('../fonts/PlayfairDisplay.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Inter-Bold';
    src: url('../fonts/Inter-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

/* левая колонка */
h1 {
    font-family: 'Gilroy-ExtraBold', serif !important;
    color: rgba(224, 224, 224, 1);
    font-size: 12.1rem;
    line-height: 0.9;
}
.g-p {
    font-family: 'Gilroy-Light', sans-serif !important;
    color: rgba(224, 224, 224, 1);
    font-size: 2.7rem;
}

.billet {
    width: auto;
    border: 2.44px solid rgba(224, 224, 224, 1);
    border-radius: 22.25px;
    padding: 1px 20px 1px 20px;
    margin: 0 10px;
    color: rgba(224, 224, 224, 1);
    font-size: 1.5rem;
    font-family: 'Gilroy-Light', sans-serif !important;
}

.custom-button {
    width: 100%;
    padding: 1px 20px 4px 20px;
    background-color: rgba(204, 236, 65, 1);
    color: black;
    border: none;
    border-radius: 22.25px;
    cursor: pointer;
    font-size: 1.6rem;
    font-family: 'Gilroy-Light', sans-serif !important;
}
.custom-button:nth-child(2) {
    background: rgba(225, 225, 225, 1);
}
.custom-button:hover {
    transition: all 0.5s ease;
    transform: scale(1.05);
    background-color: rgb(152, 177, 41);
}
.custom-button:nth-child(2):hover {
    transition: all 0.5s ease;
    background-color: rgb(177, 176, 176);
}
.custom-button:not(:hover) {
    transition: all 0.5s ease;
    transform: scale(1);
}


.button-text {
    margin: 0;
    font-family: 'Gilroy-Light', sans-serif !important;
    color: rgba(255, 255, 255, 1);
    font-size: 1.07rem;
    font-weight: 400;
    line-height: 1.2;
}


.desc-h {
    color: rgba(224, 224, 224, 1);
    font-family: 'Gilroy-Light', sans-serif !important;
    font-size: 3rem;
    font-weight: 400;
}
.desc-p,
.desc-p-stages {
    color: rgba(224, 224, 224, 1);
    font-family: 'Gilroy-Light', sans-serif !important;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.2;
}


/* Стили для названия проекта */
.project-name {
    font-family: 'Gilroy-Light', sans-serif !important;
    color: rgba(225, 225, 225, 1);
    font-size: 1.7rem;
    font-weight: 400;
    margin-top: 70px;
}

.three-block-p {
    font-family: 'Gilroy-Light', sans-serif !important;
    color: rgba(224, 224, 224, 1);
    font-size: 2rem;
    font-weight: 400;
    margin-top: 10px;
}


.service-name {
    white-space: nowrap;
    color: white;
    font-size: 2.5rem;
    font-family: 'Gilroy-Light', sans-serif !important;
}
.price {
    white-space: nowrap;
    color: white;
    font-size: 1.5rem;
    font-family: 'Gilroy-Light', sans-serif !important;
}
.subservice-name {
    white-space: nowrap;
    color: white;
    font-size: 1.5rem;
    font-family: 'Gilroy-Light', sans-serif !important;
}





/* этапы работы */
.desc-p-stages {
    line-height: 18px !important;
}

.stage-number,
.stage-number-2 {
    font-family: 'Gilroy-Light', sans-serif !important;
    font-size: 10rem;
    color: rgba(255, 255, 255, 1);
    text-align: center; 
    margin-right: 50px !important;
    line-height: 1;
    align-self: flex-start;
    margin: auto 0; 
}

.stage-h,
.stage-h-2 {
    font-family: 'Gilroy-Light', sans-serif !important;
    font-size: 2.2rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    font-weight: 400;
}

.stage-text,
.stage-text-2 {
    font-family: 'Gilroy-Light', sans-serif !important;
    font-size: 0.9rem;
    font-weight: 400;
    margin-top: 0px;
    color: rgba(255, 255, 255, 1);
    font-weight: 400;
    line-height: 1.2;
}

.stage-text-2,
.stage-h-2,
.stage-number-2  {
    color: rgba(0, 0, 0, 1);
}



.start-text {
    font-family: 'Gilroy-Light', sans-serif !important;
    font-size: 2.4rem;
    font-weight: 400;
    color: rgba(225, 225, 225, 1);
    position: relative;
    z-index: 10;
}

.button-form {
    font-family: 'Gilroy-ExtraBold', sans-serif !important;
    font-size: 2.2rem;
    font-weight: 700 !important;
    color: rgba(0, 0, 0, 1);
    background: rgba(209, 253, 10, 1);
    border-radius: 20px;
    padding: 10px 50px 10px 50px;
    border: none;
    position: relative;
    z-index: 0;
    box-shadow: 0 0 200px 130px rgba(209, 253, 10, 0.4);
    transition: all 0.5s ease;
}

.button-form:hover {
    transform: scale(1.05);
}

.button-form:focus,
.button-form:active {
    outline: none;
}