body {
    background: rgba(31, 31, 31, 1);
    position: relative;
    min-height: 100vh;
    margin: 0;
}

/* Стили для кнопки в правом нижнем углу */
.floating-form-button {
    position: fixed;
    bottom: 0px;
    right: 0px;
    width: 10%;
    height: auto;
    border-radius: 50%;
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease;
}

.floating-form-button:hover {
    transform: scale(1.1);
}

.floating-form-button img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}


.form-container {
    text-align: center;
}


/* на экаранх меньше 1500 контейнер 100% */

@media screen and (max-width: 1400px) {
    .container {
        max-width: 100%;
    }
}

/* Мобильная версия для основного контента */
@media screen and (max-width: 768px) {
    .desktop-layout {
        display: none !important;
    }
    
    .mobile-layout {
        display: flex !important;
        flex-wrap: wrap;
        margin: 0;
        padding: 0 15px;
    }
    
    .mobile-left-column {
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    
    .mobile-logo-column {
        padding: 0;
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
    }
    
    .mobile-buttons-column {
        margin-top: 20px;
        padding: 0;
    }
    
    .mobile-content {
        width: 100%;
    }
    
    .button-text-container {
        width: 100%;
    }
    
    .custom-button {
        width: 100% !important;
        margin-bottom: 10px;
    }
    
    .three-billets {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    
    .mobile-three-billets {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin: 10px 0;
        gap: 10px;
    }
    
    .mobile-three-billets .billet {
        flex: 1;
        text-align: center;
        white-space: nowrap;
        padding: 5px;
        box-sizing: border-box;
    }
}

/* Десктопная версия */
@media screen and (min-width: 769px) {
    .mobile-layout {
        display: none !important;
    }
}