.nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}

.menu-items {
    display: flex;
    gap: 3rem;
    align-items: center;
}

.menu-text {
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
    font-family: 'Gilroy-Light', sans-serif;
    transition: all 0.3s ease;
    position: relative;
}

.menu-text::after {
    content: '';
    position: absolute;
    width: 0;
    height: 1px;
    bottom: -2px;
    left: 0;
    background-color: rgba(255, 255, 255, 0.685);
    transition: width 0.3s ease;
}

.menu-text:hover::after {
    width: 100%;
}

.menu-text:hover {
    color: rgba(255, 255, 255, 0.685);
    transform: scale(1.05);
}
.menu-items a:nth-child(5) {
    margin-right: 30px !important;
}
.menu-items a:nth-child(6) {
    margin-right: -40px !important;
    margin-top: 3px;
}
.logo {
    width: 30px;
    height: auto;
}

.hr {
    width: 100%;
    height: 3px;
    background-color:white;
    border: none;
    margin-top: 5px;
}


.icon:hover {
    transition: 0.3s;
    transform: scale(1.1);
}