.nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}

.menu-items {
    display: flex;
    gap: 3rem;
    align-items: center;
}

.menu-text {
    text-decoration: none;
    color: black;
    font-family: 'Gilroy-Light', sans-serif;
}
.menu-items a:nth-child(5) {
    margin-right: 30px !important;
}
.menu-items a:nth-child(6) {
    margin-right: -40px !important;
    margin-top: 3px;
}
.logo {
    width: 30px;
    height: auto;
}

.hr {
    width: 100%;
    height: 3px;
    background-color: black;
    border: none;
    margin-top: 5px;
}

