{% load static %}
{% include 'nav_menu.html' %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Точка g</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/fonts.css' %}">
    <link rel="stylesheet" href="{% static 'css/nav_menu.css' %}">
    <link rel="stylesheet" href="{% static 'css/carousel.css' %}">
    <link rel="stylesheet" href="{% static 'css/accordion.css' %}">
    <link rel="stylesheet" href="{% static 'css/folders.css' %}">
    <link rel="stylesheet" href="{% static 'css/projects.css' %}">
    <link rel="stylesheet" href="{% static 'css/blocks.css' %}">
    <link rel="stylesheet" href="{% static 'css/modal.css' %}">
    <link rel="icon" href="/media/icon/g.png" type="png/x-icon">
    <link rel="x-icon" href="/media/icon/g.png" type="png/x-icon">
  </head>
  <body>
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h1>ТОЧКА <span class="g-p">- точка роста вашего бренда</span></h1>
            <div class='three-billets'>
                <p class="billet">сайты</p>
                <p class="billet">брендинг</p>
                <p class="billet">smm</p>
            </div>
            </div>
            <div class="col-6 image-container">
                <div class="image-and-buttons">
                    <img src="/media/icon/g.png" alt="" class="big-g">
                    <div class="button-text-container">
                        <button class="custom-button">оставить заявку</button>
                        <button class="custom-button">смотреть кейсы</button>
                        <p class="button-text">Digital-студия, которая находит точку роста бренда. Мы создаём сайты, визуал и соцсети, которые не просто выглядят красиво, а попадают точно в цель бизнеса.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div class="container mt-4">
    <hr class="hr">
        <h2 class="desc-h">ЧЕМ МЫ ЗАНИМАЕМСЯ</h2>
    <hr class="hr">
    <p class="desc-p">Наше агенство занимается графическим дизайном, оформлением и ведением соцсетей, а также созданием сайтов. Помогаем бизнесу выглядеть дорого, современно и привлекать клиентов за счёт продуманного визуала и грамотного контента.</p>

    <div class="folders-container">
        <div class="folder-card">
            <div class="folder-front">
                <img src="/media/icon/first-folder.png" alt="Первая папка">
            </div>
            <div class="folder-back">
                <img src="/media/icon/reverse-first-folder.png" alt="Реверс первой папки">
            </div>
        </div>
        <div class="folder-card">
            <div class="folder-front">
                <img src="/media/icon/second-folder.png" alt="Вторая папка">
            </div>
            <div class="folder-back">
                <img src="/media/icon/revers-second-folder.png" alt="Реверс второй папки">
            </div>
        </div>
        <div class="folder-card">
            <div class="folder-front">
                <img src="/media/icon/third folder.png" alt="Третья папка">
            </div>
            <div class="folder-back">
                <img src="/media/icon/revers-third-folder.png" alt="Реверс третьей папки">
            </div>
        </div>
    </div>
</div>

<div class="container mt-5">
    <hr class="hr">
        <h2 class="desc-h">НАШИ ПРОЕКТЫ</h2>
    <hr class="hr">
    <p class="desc-p">Наше агенство занимается графическим дизайном, оформлением и ведением соцсетей, а также созданием сайтов. Помогаем бизнесу выглядеть дорого, современно и привлекать клиентов за счёт продуманного визуала и грамотного контента.</p>

    <div class="container mt-5" id="projects">
        <div class="row">
            {% for project in projects %}
            <div class="col-6">
                <div class="project-card">
                    <a href="{{ project.link }}" target="_blank" class="project-link">
                        <div class="project-photos">
                            {% for photo in project.photos.all %}
                            <img src="{{ photo.image.url }}" alt="Project photo" class="project-photo photo-{{ photo.order }}">
                            {% endfor %}
                        </div>
                    </a>
                    <h3 class="project-name">{{ project.name }}</h3>
                    <a href="{{ project.link }}" target="_blank" class="project-button-link">
                        <button class="project-button">посмотреть</button>
                    </a>
                </div>
            </div>
            {% if forloop.counter|divisibleby:2 %}
        </div>
        <div class="row">
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
<div class="container after-project mt-5">
    <hr class="hr">
    <h2 class="desc-h">О КОМПАНИИ</h2>
    <hr class="hr">
    <p class="desc-p">Точка G — digital-студия, которая находит точку роста бренда. Мы создаём сайты, визуал и соцсети, которые помогают бизнесу выглядеть профессионально, быть узнаваемым и расти. Мы работаем не просто с дизайном, а с задачами бизнеса: понимаем цель, аудиторию и только после этого создаём визуальные решения.</p>
</div>


<div class="about-carousel-container">
    <div class="swiper about-carousel">
        <div class="swiper-wrapper">
            {% for slide in carousel_slides %}
            <div class="swiper-slide">
                <img src="{{ slide.image.url }}" alt="Slide" class="carousel-image">
            </div>
            {% endfor %}
        </div>
        <div class="swiper-pagination"></div>
    </div>
</div>

<div class="container">
    <hr class="hr">
    <h2 class="desc-h">СТОИМОСТЬ УСЛУГ</h2>
    <hr class="hr">
    <p class="desc-p">Каждый проект индивидуален, поэтому окончательная стоимость рассчитывается после обсуждения всех деталей: целей сайта, функционала, объёма работ и сроков.
Цены, указанные в прайсе, являются ориентировочными и помогают понять порядок бюджета. Итоговая стоимость может отличаться как в меньшую, так и в большую сторону — всё зависит от ваших задач.
Оставьте заявку и расскажите, какой проект вы хотите получить. Мы проконсультируем вас, предложим оптимальное решение и подскажем, как реализовать проект максимально эффективно.</p>
    <div class='row three-block-rows'>
        <div class='col-4 three-block-price mt-3'>
            <img src="/media/icon/ok-icon.png" alt="">
            <p class='three-block-p'>Консультация - бесплатно</p>
        </div>
        <div class='col-4 three-block-price mt-3'>
            <img src="/media/icon/ok-icon.png" alt="">
            <p class='three-block-p'>Подберём решение под любой бюджет</p>
        </div>
        <div class='col-4 three-block-price mt-3'>
            <img src="/media/icon/ok-icon.png" alt="">
            <p class='three-block-p'>Без навязывания лишних услуг</p>
        </div>
    </div>

    <div class="accordion custom-accordion" id="servicesAccordion">
        {% for service in services %}
        <div class="accordion-item custom-accordion-item">
            <h2 class="accordion-header" id="heading{{ forloop.counter }}">
<button class="accordion-button custom-accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapse{{ forloop.counter }}" aria-expanded="false"
                        aria-controls="collapse{{ forloop.counter }}">
                    <span class="service-name">{{ service.name }}</span>
                    <div class="arrow-container">
                        <img src="/media/icon/arrow-list.png" alt="" class="custom-arrow">
                    </div>
                </button>
            </h2>
            <div id="collapse{{ forloop.counter }}" class="accordion-collapse collapse"
                 aria-labelledby="heading{{ forloop.counter }}" data-bs-parent="#servicesAccordion">
                <div class="accordion-body custom-accordion-body">
                    <ul class="subservices-list">
                        {% for subservice in service.subservices.all %}
                        <li class="subservice-item">
                            <span class="subservice-name">{{ subservice.name }}</span>
                            <span class="dots"></span>
                            <span class="price">от {{ subservice.price|floatformat }} ₽</span>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<div class="container mt-5 mb-5">
    <hr class="hr">
    <h2 class="desc-h">ЭТАПЫ РАБОТЫ</h2>
    <p class="desc-p-stages">Мы не просто «рисуем» или «собираем сайт». <br>Мы выстраиваем систему, в которой бизнес начинает говорить уверенно и понятно.</p>
    <hr class="hr">

    <!-- Блоки этапов -->
    <div class="stages-container">
        <div class="stage-block">
            <div class="stage-number">01</div>
            <div class="stage-content">
                <div class="stage-h">ПОГРУЖЕНИЕ В ПРОЕКТ</div>
                <div class="stage-text">Заполняем брифинг. <br>Разбираемся в продукте, целях и аудитории.<br>Изучаем конкурентов, позиционирование и задачи.<br>Формируем чёткий вектор: что именно нужно — сайт, логотип, фирменный стиль или комплексное решение.</div>
            </div>
        </div>
        <div class="stage-block-2">
            <div class="stage-number-2">02</div>
            <div class="stage-content">
            <div class="stage-h-2">СТРАТЕГИЯ И КОНЦЕПЦИЯ</div>
            <div class="stage-text-2">Определяем характер бренда:<br>тон коммуникации, визуальное направление, смысловую основу.<br>
Если это логотип — ищем идею и метафору.<br>Если сайт — продумываем структуру и пользовательский путь.<br>Если брендинг — собираем фундамент, на котором всё будет держаться.</div>
        </div>  
        </div>  
        <div class="stage-block">
            <div class="stage-number">03</div>
            <div class="stage-content">
                <div class="stage-h">РАЗРАБОТКА</div>
                <div class="stage-text">Создаём дизайн и прорабатываем детали<br>
Логотип — формы, композиция, характер.<br>Фирменный стиль — цвета, шрифты, графика, носители.<br>Сайт — структура, визуал, адаптив, логика взаимодействия.<br>
Каждый этап согласовывается, чтобы результат соответствовал задачам бизнеса.</div>
            </div>
        </div>
        <div class="stage-block-2">
            <div class="stage-number-2">04</div>
            <div class="stage-content">
                <div class="stage-h-2">ПРАВКИ И ФИНАЛИЗАЦИЯ</div>
                <div class="stage-text-2">Вносим согласованные корректировки.<br>Доводим проект до завершённого, аккуратного результата.</div>
            </div>
        </div>
        <div class="stage-block">
            <div class="stage-number">05</div>
            <div class="stage-content">
                <div class="stage-h">ПЕРЕДАЧА И ВНЕДРЕНИЕ</div>
                <div class="stage-text">Передаём все файлы, гайды и инструкции.<br>При необходимости помогаем внедрить стиль в соцсети, рекламу или на сайт.<br>
Наша задача — чтобы бренд не просто выглядел красиво, а стабильно работал и приносил результат.</div>
            </div>
        </div>
    </div>
</div>

<div class='container form-container mt-5'>
    <p class='start-text'>НАЧНЁМ?</p>
    <button id="floatingFormButton" class='button-form'>ОБСУДИТЬ ПРОЕКТ</button>
</div>



    <!-- Кнопка для открытия модального окна -->
    <button class="floating-form-button" id="floatingFormButton">
        <img src="/media/icon/form-button.png" alt="Form Button">
    </button>

    <!-- Модальное окно -->
    <div class="modal-overlay" id="formModalOverlay">
        <div class="modal-content">
            <span class="modal-close" id="modalClose">&times;</span>
            <h2 class="modal-title">Начнём обсуждение проекта! Первичная консультация бесплатно </h2>
<form class="modal-form" id="contactForm">
<input type="text" id="name" placeholder="Имя">
<input type="tel" id="phone" placeholder="Телефон">
<p class='modal-p'>Предпочтительный способ связи</p>
<div class="contact-method">
    <div class="method-item">
        <input type="radio" id="telegram" name="contact_method" value="telegram" checked>
        <label for="telegram">Telegram</label>
    </div>
    <div class="method-item">
        <input type="radio" id="max" name="contact_method" value="max">
        <label for="max">Max</label>
    </div>
    <div class="method-item">
        <input type="radio" id="call" name="contact_method" value="call">
        <label for="call">Звонок</label>
    </div>
</div>

<textarea id="message" placeholder="Опишите ваш проект" rows="4"></textarea>
<div class="privacy-policy-block">
    <div class="privacy-radio">
        <input type="radio" id="privacy-policy" name="privacy" required>
        <label for="privacy-policy">Я соглашаюсь с <a href="/privacy-policy/" class="privacy-link" target="_blank">политикой конфиденциальности</a></label>
    </div>
</div>
<button type="submit">ОТПРАВИТЬ</button>
</form>
        </div>
    </div>
{% include 'footer.html' %}
    <script src="{% static 'js/main.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
  </body>
</html>