<div class='container'>
  <div class="nav-links">
    <a href="#"><img src="/media/icon/g.png" alt="" class='logo'></a>
    <div class="menu-burger">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="menu-items">
      <a href="#" class='menu-text'>Главная</a>
      <a href="#projects" class='menu-text'>Проекты</a>
      <a href="#about-company" class='menu-text'>О компании</a>
      <a href="#price" class='menu-text'>Прайс</a>
      <a href="#stages" class='menu-text'>Этапы работы</a>
      <a href="tel:+79135297460" class='icon'><img src="/media/icon/el_phone-alt.png" alt=''></a>
      <a href="https://web.telegram.org/a/#563030079" class='icon'><img src="/media/icon/ic_baseline-telegram.png" alt=''></a>
    </div>

    
    <div class="mobile-menu">
      <a href="#" class='menu-text'>Главная</a>
      <a href="#projects" class='menu-text'>Проекты</a>
      <a href="#about-company" class='menu-text'>О компании</a>
      <a href="#price" class='menu-text'>Прайс</a>
      <a href="#stages" class='menu-text'>Этапы работы</a>
      <div class="icons-container">
        <a href="tel:+79135297460" class='icon' style="margin-top: 2px;"><img src="/media/icon/el_phone-alt.png" alt=''></a>
        <a href="https://web.telegram.org/a/#563030079" class='icon'><img src="/media/icon/ic_baseline-telegram.png" alt=''></a>
      </div>
    </div>
  </div>
    <hr class="hr">
</div>