<div class='container'>
  <div class="nav-links">
    <a href="#"><img src="/media/icon/g.png" alt="" class='logo'></a>
    <div class="menu-items">
      <a href="#" class='menu-text'>Главная</a>
      <a href="#" class='menu-text'>Услуги</a>
      {% comment %} переход к id="projects" {% endcomment %}
      <a href="#projects" class='menu-text'>Портфолио</a>
      <a href="#" class='menu-text'>О компании</a>
      <a href="#" class='menu-text'>Контакты</a>
      <a href="#" class='icon'><img src="/media/icon/el_phone-alt.svg" alt=''></a>
      <a href="#" class='icon'><img src="/media/icon/ic_baseline-telegram.svg" alt=''></a>
    </div>
  </div>
      <hr class="hr">
</div>